
/* 
    Created on : 19.01.2015, 11:08:49
    Author     : igor
*/

body {
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.error {
    color: red;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}